/* CSS HEX */
/* --english-violet: #413c58ff;
--opal: #a3c4bcff;
--tea-green: #bfd7b5ff;
--pale-spring-bud: #e7efc5ff;
--banana-mania: #f2dda4ff; */

.start{
    text-align: center;

}

.waterbar{
    border: 2px;
    
}