/* CSS HEX */
:root {
    --main: #d7e0da; 
    --dark: #717f6f;
    --white: #f7fafa;
    --copper: #E1B180;
    --bean: #ffcc7c;
    --extradark: #4d634b;
    --button: #efefef;

}

body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--main);
}

.start{
    text-align: center;
    background-size: cover;
    height: 100%;
    /* padding: 6%; */
}

h1{
    font-size: 72px;
    color: var(--extradark);
    text-align: center;
}
 
h3{
    font-size: 28px; 
    color: var(--white);
}

.pickbeans{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.beanbutton1, .beanbutton2{
    border:none;
    background: transparent;
    text-align: center;
    cursor: pointer;
}


input{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    font-size: 16px;
}


#nameinput{
    padding: 12px;
    width: 250px;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
    font-size: 16px;
    color: #757575;
}

#playbutton{ 
    position: relative;
    padding: 12px;
    width: 90px;
    left: -25px;
    color: var(--copper);
    font-weight: bold;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.play {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.play h1 {
    font-size: 60px;
    text-align: center;
}

.beanname { 
    grid-area: 1 / 1 / 2 / 3; 
}

.instructions { 
    grid-area: 1 / 3 / 2 / 7; 
    color: var(--extradark);
    margin-top: 3%;
    margin-left: 20%;
    font-size: 16px;
    display: flex; 
}

span {
    font-weight: bold;
}

.homebutton{
    width: 10%;
    height: 30%;
    border: none;
    margin-left: 3%;
    margin-top: 3%;
    background-color: var(--button);
    border-radius: 5px;
    color: var(--copper);
    font-weight: bold;
    cursor: pointer;
}

.homebutton:hover{
    background-color: var(--white);
}
.character { 
    text-align: center;
    grid-area: 2 / 1 / 5 / 3; 
    padding-top: 5%;
}

.container {
    grid-area: 2 / 3 / 5 / 6; 
    /* background-color: white; */
    padding-top: 5%;
    padding-right: 15%;
    padding-left: 5%;
}

.container h3{
    font-size:18px;
    padding-left: 5px;
}

.harvest { 
    /* background-color: lightblue; */
    grid-area: 5 / 1 / 6 / 6; 
}
 
.harvesttext {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: var(--dark);
    font-size: 18px;
    position: absolute;
}

.harvestbar {
    display: flex;
    background: var(--main);
    border: 5px solid var(--dark);
    height: 30px;
    width: 80%;
    border-radius: 20px;
    margin-left: 10%;
    margin-top: 3%;
}

.harvestprogress { 
    display:flex;
    height: 100%;
    width: 0%; 
    background-color: var(--dark);
    border-radius: 20px 0 0 20px;
}

.water, .bug, .love{
    display: flex;
    padding-bottom: 3%;
}

.watersub, .bugsub, .lovesub {
    /* background-color: red; */
    width: 80%;
    padding-left: 6%;
    justify-content: center;
    }

.waterbutton, .bugbutton, .lovebutton {
    border: none;
    background: transparent;
}

.waterbutton img,.bugbutton img, .lovebutton img {
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
    cursor: pointer;
    /* border: 3px dashed var(--dark); */
    background-color: var(--button);
    padding-top: 10px;
    border-radius: 50%;
}

.waterbutton img:hover, .bugbutton img:hover, .lovebutton img:hover{
    border-radius: 50%; 
    background-color: var(--copper);
}

.waterbar, .bugbar, .lovebar{
    background: rgb(238, 236, 236);
    width: 100%;
    height: 35px;
    border-radius: 20px;
}


.waterprogress, .bugprogress, .loveprogress{
    height: 100%;
    background-color: var(--dark);
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.youwindiv{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -5%;
}


#beanpost{
    width: 35%;
}

.playagain{
    color: var(--copper);
    background-color: var(--button);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 28px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 15%;

}

.playagain:hover{
    color: var(--copper);
    background: var(--white);
    cursor: pointer; 
}


.youlosediv{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2%;
}

.tryagain{
    color: var(--copper);
    background: var(--button);
    margin-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 28px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;

}

.tryagain:hover{
    color: var(--copper);
    background: var(--white);
    cursor: pointer;
}
